@page
@model XRF_Data_Analysis.Pages.HowToModel
@{
    ViewData["Title"] = "How To Use The XRF Data Analysis Tool v1.3 (XRF-DAT1.3)";
}

<h3 style="text-align:center; font-style:italic">@ViewData["Title"]</h3>
<hr />
<ol>
    <li>
        Each step (page) contains relevant instructions at the bottom of the page. Please read
        these instructions and use them as guidelines.
    </li>
    <br />
    <li>
        Start the analysis by selecting the measurements you want to analyse. Click the
        "Select Measurements" button.
    </li>
    <br />
    <li>
        Upload the measurements and validate them by clicking the "Upoad and Validate" button.
    </li>
    <br />
    <li>
        If the application finds at least one valid file (check relevant guidelines), a list of all
        valid measurements will appear with the file name, the folio, and the source of measurement.
        Otherwise, a message will appear to tell you that no valid file has been uploaded.
    </li>
    <br />
    <li>
        Once you upload your measurements successfully, you can perform three different tasks using this
        application: Proccessing the measurements to be manually inspected, Generating tables to be used
        for scatter plots, and calculating distances between different measurements.
    </li>
    <br />
    <li>
        All performed tasks in this application can be customised by user-defined settings.
    </li>
    <br />
    <li>
        You can download the results of any selected task as a ".csv" file.
    </li>
</ol>

